## Ignore Visual Studio Code files and others.
.vscode

# Primary workspace
*.code-workspace

# Lambda Layer Install Files
*-layer.zip
[Pp]ython-layer/

# From other repo
# https://github.com/aws-samples/amazon-textract-response-parser
textractor
